
// Descriptive Colour Variables

$white          : #fff;
$black          : #000;
$grey           : #878787;
$regent-st-blue : #add8e6;
$san-juan       : #2F4073;
$cape-honey     : #FFE4AA;

// Functional Colour Variables

$colour-prim        : $cape-honey;
$colour-sec         : $san-juan;

$colour-text-light  : $white;
$colour-text-base   : $grey;
$colour-text-dark   : $san-juan;

$colour-border-light : lighten($grey, 35%);
$colour-border-dark  : $cape-honey;

$colour-link-default : $san-juan;
$colour-link-visited : $san-juan;

$colour-shadow       : rgba($black,.8);
$colour-body         : $white;

// Font Stacks

// $stack-sans-serif   : Helvetica, Arial, sans-serif;
// $stack-helvetica    : 'Helvetica-Neue', $stack-sans-serif;
// $stack-abolition    : 'Abolition Regular', $stack-sans-serif;

// Border Radius

// $br: 10px;

// Asset Paths

// $path-img   : '../img/';
// $path-font  : '../fonts/';

// Media Query Breakpoints

// $brk-narrow   : '(max-width: 768px)';
// $brk-wide     : '(max-width: 1024px)';
