/* Pseudo-classes ------------------ */

a {
  &:link {
    color: $colour-link-default;
    text-decoration: none;
  }

  &:visited {
    color: $colour-link-visited;
  }

  &:hover {
    color: rgba($colour-link-default, .6);
  }

  &:active {
    color: lightcoral;
  }
}
