body {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

input {

}

.output {
  list-style: none;
  display: flex;
  flex-direction: column;
  max-width: 80%;
  align-content: center;
  padding-left: 0;
}

.output li {
  background-color: $colour-prim;
  padding: .5em;
  margin-top: .5em;
  -webkit-box-shadow: 7px 7px 5px -2px rgba(214,214,214,1);
  -moz-box-shadow: 7px 7px 5px -2px rgba(214,214,214,1);
    box-shadow: 7px 7px 5px -2px rgba(214,214,214,1);
  &:hover {
    border-left: 5px solid $colour-sec;
  }
}
